#footer {
	background-color: black;
	text-align: center;
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	padding: 10px;
}

.container-fluid {
	margin-top: 20px;
}

.form-control {
	width: 50%;
}

.table {
	width: 90%;
}

.row {
	margin-left: 5%;
}
