<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/defaultLayout}">
	<head>
    	<title>Home</title>
	</head>
	<body>
		<section layout:fragment="content">
			<div class="container">
	    		<h1>Hello, world!</h1>
	    		<p>This is the home page for the Spring Boot web application</p>
	    		<p>Click <a href="/account/login">here</a> to sign-in</p>
			</div>
		</section>
	</body>
</html>
