<!doctype html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{/layouts/defaultLayout}">
	<head>
    	<title>Create New Product</title>
	</head>
	<body>
		<section layout:fragment="content">
	    	<h3>New Order</h3>
			<p>Please enter the type, name, description, and price for the product to be added.</p>
			<form action="#" th:action="@{/orders/create/process}" th:object="${orderModel}" method="post">
				<div class="form-group">
					<label>Username:</label>
					<input class="form-control" type="text" th:field="*{customer}" />
				</div>
				<div class="form-group">
					<label>Product</label>
					<input class="form-control" type="text" th:field="${product.name}" readonly/>
				</div>
				<div class="form-group">
					<label>Product Type:</label>
					<input class="form-control" type="text" th:field="${product.type}" readonly/>
				</div>
				<div class="form-group">
					<label>Quantity:</label>
					<input class="form-control" type="text" th:field="*{qty}" />
				</div>
				<div class="form-group">
					<label>Price:</label>
					<input class="form-control" type="text" th:field="${product.price}" readonly/>
				</div>
			    <p>
					<input class="btn btn-outline-primary" type="submit" value="Submit" /> 
			    	<input class="btn btn-outline-danger" type="reset" value="Reset" />
			    </p>
		    </form>
		</section>
	</body>
</html>
